body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.board {
    display: table;
    border: 1px solid #666;
}

.board .board-row {
    display: table-row;
}

.board .board-row .board-cell {
    display: table-cell;
    width: 64px;
    height: 64px;
    border: 1px solid #666;
    font-weight: bold;

}

.board .board-row .board-cell .checker {
    margin: 6px 0 0 8px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 3px 4px #333;
}

.board .board-row .board-cell .checker:hover {
    cursor: pointer;
    box-shadow: 0 1px 4px #333;
}

.board .board-row .board-cell .checker-white {
    background-color: red;
}

.board .board-row .board-cell .checker-black {
    background-color: black;
}

.board .board-row .board-cell-white {
    background-color: cornsilk;
}

.board .board-row .board-cell-black {
    cursor: pointer;
    background-color: sienna;
}
